{% extends 'base.html' %}
{% load django_markdown %}

{% block title %}我爱Gvim{% endblock %}

{% block article %}
{% block anchor %}
<div class="anchor clearfix">
	<strong>所在位置：</strong>
	<ul>
		<li><a href="/">首页</a></li>
		<li class="cur">链接</li>
	</ul>
</div>
{% endblock %}
<div class="links">
	{% if links %}
		<ul>
		{% for link in links %}
			<li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
	<div class="no-result">
		<p>暂时没有链接</p>
	</div>
	{% endif %}
</div>
{% endblock %}
